<!-- Subscription Plans -->
<div class="pricing-plans">
    <h2 class="text-center mb-3 mt-0 mt-md-4">
        {{ 'Size en uygun abonelik planını seçin'|trans }}
    </h2>
    <p class="text-center">
        {{ 'Hemen başlamak için abonelik planlarına gözatın.'|trans }}
        {{ 'Size en uygun planı seçin ve hemen başlayın.'|trans }}
    </p>
    <div class="d-flex align-items-center justify-content-center flex-wrap gap-2 py-5">
        <label class="ms-sm-5 ps-sm-5 me-0">
            {{ 'Tüm Planlarda Geçerli'|trans }}
        </label>
        <div class="mt-n5 ms-n5 ml-2 mb-2 d-none d-sm-block">
            <i class="bx bx-subdirectory-right bx-sm rotate-90 text-muted scaleX-n1-rtl"></i>
            <span class="badge badge-sm bg-label-primary rounded-pill">{{ 'HEMEN ÜCRETSİZ DENEYİN'|trans }}</span>
        </div>
    </div>
    <div class="row mx-0 gy-3">
        {% for plan in plans %}
            {{ component('_subscription_plan_component', { plan: plan, trialUsed: app.user.trialPeriodUsed }) }}
        {% endfor %}
    </div>
</div>
<!--/ Subscription Plans -->