{% extends 'layout/admin.html.twig' %}

{% block pageTitle %}{{ 'Abonelik Planları'|trans }}{% endblock %}
{% block contentTitle %}{{ 'Abonelik Planları'|trans }}{% endblock %}

{% block pageActions %}
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('app_administrator_subscription_plan_index') }}" class="btn btn-secondary">{{ 'Düzenle'|trans }}</a>
    {% else %}
        <a href="mailto:{{ misc.supportEmail }}" class="me-2">
            <i class="bx bx-help-circle"></i>
        </a>
    {% endif %}
{% endblock %}

{% block body %}

    <div class="mx-4">
        {{ include('admin/subscription_plan/_plans_pricing.html.twig') }}
    </div>

{% endblock %}
