{% extends 'layout/admin.html.twig' %}

{% block pageTitle %}{{ 'Yönetici Paneli / Web Kazıma İstekleri'|trans }}{% endblock %}
{% block contentTitle %}{{ 'Yönetici Paneli / Web Kazıma İstekleri'|trans }}{% endblock %}

{% block pageActions %}
    <div class="btn-group" role="group">
        <a href="{{ path('app_administrator_web_scraping_request_new_by_url') }}" class="btn btn-secondary">{{ 'URL Ekle'|trans }}</a>
        <a href="{{ path('app_administrator_web_scraping_request_new') }}" class="btn btn-secondary">{{ 'Rastgele Ekle'|trans }}</a>
        <a href="{{ path('app_administrator_web_scraping_request_delete_all') }}" class="btn btn-danger">{{ 'Tümünü Sil'|trans }}</a>
    </div>
{% endblock %}

{% block body %}

    {{ component('_crud_table_component', { table: webScrapingRequestTable, title: 'Web Kazıma İstekleri'|trans}) }}

{% endblock %}
