<!-- Administrator Bar  -->
<li class="nav-item dropdown-shortcuts navbar-dropdown dropdown me-2 me-xl-0">
    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        <i class="bx bx-code-alt bx-sm text-danger"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-end py-0">
        <div class="dropdown-menu-header border-bottom">
            <div class="dropdown-header d-flex align-items-center py-3">
                <h5 class="text-body mb-0 me-auto">{{ 'Yönetim Paneli'|trans }}</h5>
                <a href="{{ path('app_administrator_index') }}" class="dropdown-shortcuts-add text-body" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ 'Genel Bakış'|trans }}"><i class="bx bx-sm bx-line-chart-down"></i></a>
            </div>
        </div>
        <div class="dropdown-shortcuts-list scrollable-container">
            <div class="row row-bordered overflow-visible g-0">
                <div class="dropdown-shortcuts-item col">
                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                        <i class="bx bx-user fs-4"></i>
                    </span>
                    <a href="{{ path('app_administrator_user_index') }}" class="stretched-link">
                        {{ 'Kullanıcılar'|trans }}
                    </a>
                    <small class="text-muted mb-0">
                        {{ 'Tablo'|trans }}
                    </small>
                </div>
                <div class="dropdown-shortcuts-item col">
                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                        <i class="bx bx-rocket fs-4"></i>
                    </span>
                    <a href="{{ path('app_administrator_subscription_plan_index') }}" class="stretched-link">
                        {{ 'Abonelik Planları'|trans }}
                    </a>
                    <small class="text-muted mb-0">
                        {{ 'Tablo'|trans }}
                    </small>
                </div>
            </div>
            <div class="row row-bordered overflow-visible g-0">
                <div class="dropdown-shortcuts-item col">
                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                        <i class="bx bx-credit-card fs-4"></i>
                    </span>
                    <a href="#" class="stretched-link">
                        {{ 'Ödeme Kayıtları'|trans }}
                    </a>
                    <small class="text-muted mb-0">
                        {{ 'Tablo'|trans }}
                    </small>
                </div>
                <div class="dropdown-shortcuts-item col">
                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                        <i class="bx bx-help-circle fs-4"></i>
                    </span>
                    <a href="#" class="stretched-link">
                        {{ 'Yardım Merkezi'|trans }}
                    </a>
                    <small class="text-muted mb-0">
                        {{ 'Tablo'|trans }}
                    </small>
                </div>
            </div>
            <div class="row row-bordered overflow-visible g-0">
                <div class="dropdown-shortcuts-item col">
                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                        <i class="bx bx-store fs-4"></i>
                    </span>
                    <a href="{{ path('app_administrator_marketplace_index') }}" class="stretched-link">
                        {{ 'Pazaryerleri'|trans }}
                    </a>
                    <small class="text-muted mb-0">
                        {{ 'Tablo'|trans }}
                    </small>
                </div>
                <div class="dropdown-shortcuts-item col">
                    <span class="dropdown-shortcuts-icon bg-label-secondary rounded-circle mb-2">
                        <i class="bx bxl-chrome fs-4"></i>
                    </span>
                    <a href="{{ path('app_administrator_web_scraping_request_index') }}" class="stretched-link">
                        {{ 'Kazıma İstekleri'|trans }}
                    </a>
                    <small class="text-muted mb-0">
                        {{ 'Tablo'|trans }}
                    </small>
                </div>
            </div>
        </div>
    </div>
</li>
<!-- Administrator Bar -->