<div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
    <div class="mb-2 mb-md-0">
        © {{ 'now' | date('Y') }}, made with ❤️ by
        <a href="{{ layout.admin.developer.url }}" target="_blank" class="footer-link fw-medium">{{ layout.admin.developer.name }}</a>
    </div>
    <div class="d-none d-lg-inline-block">
        <a href="{{ path(layout.admin.developer.helpCenterPath) }}" class="footer-link me-4">
            {{ 'Yardım Merkezi'|trans }}
        </a>
    </div>
</div>