<!--Under Maintenance -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h1 class="mb-2 mx-2">{{ 'Bakım Modu'|trans }}!</h1>
        <p class="mb-4 mx-2">
            {{ 'Bir sistem güncellemesinden dolayı sistem bakım moduna alındı.'|trans }}
            {{ 'Lütfen birkaç dakika sonra tekrar deneyin.'|trans }}
        </p>
        <a href="{{ path('app_admin_dashboard') }}" class="btn btn-primary">{{ 'Sayfayı yenile'|trans }}</a>
        <div class="mt-4">
            <img src="{{ asset('build/media/misc/underMaintaince.png') }}" alt="{{ 'Bakım Modı'|trans }}" width="500" class="img-fluid"/>
        </div>
    </div>
</div>
<!-- /Under Maintenance -->