{% extends 'layout/admin.html.twig' %}

{% block pageTitle %}{{ 'Takım Panosu'|trans }}{% endblock %}
{% block contentTitle %}{{ 'Takım Panosu'|trans }}{% endblock %}

{% block pageActions %}
    {% if usersTeam.ownerId is same as(app.user.id) %}
            <a class="btn btn-secondary" href="{{ path('app_admin_team_edit', {theTeam: usersTeam.id}) }}">{{'Düzenle'|trans }}</a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-xl-4 col-md-6">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <div class="card-title mb-0">
                        <h5 class="m-0 me-2">{{ 'Takım Üyeleri'|trans }}</h5>
                    </div>
                    <div class="dropdown">
                        <button class="btn p-0"
                                type="button"
                                id="popularInstructors"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="popularInstructors">
                            <a class="dropdown-item" href="{{ path('app_admin_team_invite_member') }}">{{ 'Yeni Üye Ekle'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-borderless border-top">
                        <thead class="border-bottom">
                        <tr>
                            <th>{{ 'Kullanıcı'|trans }}</th>
                            <th class="text-end">{{ 'Aktiflik'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for teamMember in usersTeam.users %}
                        <tr>
                            <td>
                                <div class="d-flex justify-content-start align-items-center mt-lg-4">
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-1 text-truncate">
                                            <a href="{{ path('app_admin_profile_show', { theUser: teamMember.id }) }}" class="text-dark">
                                                {{ teamMember.displayName ?? teamMember.email }}
                                            </a>
                                        </h6>
                                        <small class="text-truncate text-muted">
                                            {% if usersTeam.ownerId is same as(teamMember.id) %}
                                                <span class="text-primary">{{ 'Kurucu'|trans }}</span>
                                                {% else %}
                                                {% if teamMember.isVerified is same as(true) %}
                                                    {{ 'E-Posta Onaylı'|trans }}
                                                    {% else %}
                                                    <span class="text-danger">
                                                        {{ 'E-Posta Onaysız'|trans }}
                                                    </span>
                                                    {% endif %}
                                            {% endif %}
                                        </small>
                                    </div>
                                </div>
                            </td>
                            <td class="text-end">
                                <div class="user-progress mt-lg-4">
                                    <h6 class="mb-0">
                                        {% if teamMember.isPassive is same as(true) %}
                                            <span class="text-danger">{{ 'Pasif'|trans }}</span>
                                            {% else %}
                                            {{ 'Aktif'|trans }}
                                        {% endif %}
                                    </h6>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
