<!-- Subscription Details -->
<div class="col-lg mb-md-0 mb-4">
    <div class="card {% if plan.isPopular is same as(true) %}border border-2 border-primary{% endif %}">
        <div class="card-body">

            <!-- Subscription Plan Title -->
            {% if plan.isPopular is same as(true) %}
                <div class="d-flex justify-content-between flex-wrap mb-3">
                    <h5 class="text-start text-uppercase mb-0">
                        {{ plan.name }}{% if plan.discountPercent is not same as(null) %} / %{{ plan.discountPercent}} {{ 'indirim'|trans }}{% endif%}
                    </h5>
                    <span class="badge bg-primary rounded-pill">{{ 'Popüler'|trans }}</span>
                </div>
            {% else %}
                <h5 class="text-start text-uppercase">
                    {{ plan.name }}{% if plan.discountPercent is not same as(null) %} / %{{ plan.discountPercent}} {{ 'indirim'|trans }}{% endif%}
                </h5>
            {% endif %}

            <!-- Subscription Plan Pricing -->
            <div class="text-center position-relative mb-4 pb-1">
                <div class="mb-2 d-flex">
                    <h1 class="price-toggle text-primary price-yearly mb-0">
                        {% if trialUsed is defined and trialUsed is not same as(true) %}
                            <small>
                                <del class="text-muted">
                                    {{ plan.currencySign}} {{ plan.amount }}
                                </del>
                            </small>
                            {{ plan.currencySign}} 0
                        {% else %}
                            {{ plan.currencySign}} {{ plan.amount }}
                        {% endif %}
                    </h1>
                    <sub class="h5 text-muted pricing-duration mt-auto mb-2">
                        /{% if plan.paymentInterval == 30 %}{{ 'ay'|trans }}{% else %}{{ plan.paymentInterval }}{{ 'gün'|trans }}{% endif %}
                    </sub>
                </div>
                <small class="position-absolute start-0 m-auto price-yearly price-yearly-toggle text-muted">
                    {{ plan.trialPeriodDays }} {{ 'gün ücretsiz deneyin'|trans }}
                </small>
            </div>

            <p>{{ 'Plan fiyatına vergiler dahildir.'|trans }}</p>

            <hr />

            <ul class="list-unstyled pt-2 pb-1">

                <!-- Subscription Plan Included Features -->
                {% for planFeature in plan.includedFeatures|split(',') %}
                    <li class="mb-2">
                            <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2">
                                <i class="bx bx-check bx-xs"></i>
                            </span>
                        {{ planFeature }}
                    </li>
                {% endfor %}

                <!-- Subscription Plan Not Included Features -->
                {% for planFeature in plan.notIncludedFeatures|split(",") %}
                    <li class="mb-2">
                                <span class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-secondary me-2">
                                    <i class="bx bx-x fs-5 lh-1"></i>
                                </span>
                        {{ planFeature }}
                    </li>
                {% endfor %}
            </ul>

            {% if hideActions is not defined %}
                <!-- Subscription Plan Get Started Button -->
                {% if plan.isPopular is same as(true) %}
                    <a href="{{ path('app_admin_exclude_subscription_plan_subscribe_plan', { thePlan: plan.id }) }}" class="btn btn-primary d-grid w-100">
                        {% if trialUsed is defined and trialUsed is not same as(true) %}
                            {{ 'Hemen Ücretsiz Deneyin'|trans }}
                        {% else %}
                            {{ 'Hemen Başlayın'|trans }}
                        {% endif %}
                    </a>
                {% else %}
                    <a href="{{ path('app_admin_exclude_subscription_plan_subscribe_plan', { thePlan: plan.id }) }}" class="btn btn-label-primary d-grid w-100" >
                        {% if trialUsed is defined and trialUsed is not same as(true) %}
                            {{ 'Hemen Ücretsiz Deneyin'|trans }}
                        {% else %}
                            {{ 'Hemen Başlayın'|trans }}
                        {% endif %}</a>
                {% endif %}
            {% endif %}

        </div>
    </div>
</div>
<!--/ Subscription Details -->