{% for successFlash in app.flashes('pageNotificationSuccess') %}
    <input type="hidden" class="pageNotificationSuccess" value="{{ successFlash }}">
{% endfor %}
{% for errorFlash in app.flashes('pageNotificationError') %}
    <input type="hidden" class="pageNotificationError" value="{{ errorFlash }}">
{% endfor %}



<div class="offcanvas offcanvas-end" tabindex="-1" id="showMoreSpanOffCanvas" aria-labelledby="showMoreSpanOffCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="showMoreSpanOffCanvasLabel">{{ 'Detaylar'|trans }}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="{{ 'Kapat'|trans }}"></button>
    </div>
    <div class="offcanvas-body" id="showMoreSpanOffCanvasBody"></div>
</div>

{% if app.user %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="themeSwitcherOffCanvas" aria-labelledby="themeSwitcherOffCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="themeSwitcherOffCanvasLabel">{{ 'Tema Değiştir'|trans }}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="{{ 'Kapat'|trans }}"></button>
    </div>
    <div class="offcanvas-body" id="themeSwitcherOffCanvasBody">
        {{ include('layout/partials/_theme_switcher.html.twig') }}
    </div>
</div>
{% endif %}
