{% extends 'layout/admin.html.twig' %}

{% block pageTitle %}{{ 'Yönetici Paneli / Pazaryeri'|trans }}{% endblock %}
{% block contentTitle %}{{ 'Yönetici Paneli / Pazaryeri'|trans }}{% endblock %}

{% block pageActions %}

    <div class="btn-group" role="group">
        <a href="{{ path('app_administrator_marketplace_search_keyword') }}" class="btn btn-secondary">
            {{ 'Anahtar Kelime Ara'|trans }}
        </a>
        <a href="{{ path('app_administrator_marketplace_new') }}" class="btn btn-secondary">
            {{ 'Yeni Oluştur'|trans }}
        </a>
    </div>

{% endblock %}

{% block body %}

    {{ component('_crud_table_component', { table: marketplaceTable, title: 'Pazaryerleri'|trans}) }}

{% endblock %}
