{% extends 'layout/admin.html.twig' %}

{% block pageTitle %}{{ 'Yönetici Paneli / Yeni Pazaryeri'|trans }}{% endblock %}
{% block contentTitle %}{{ 'Yönetici Paneli / Yeni Pazaryeri'|trans }}{% endblock %}

{% block pageActions %}

    <a href="{{ path('app_administrator_marketplace_index') }}" class="btn btn-secondary">
        {{ 'Listeye Geri Dön'|trans }}
    </a>

{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            {{ include('administrator/marketplace/_form.html.twig') }}
        </div>
    </div>

{% endblock %}