<div class="card">
    <div class="card-body">
        <!-- Subscription Plan Exist -->
        {% if app.user.subscriptionPlan is not same as(null) %}
            <div class="d-flex justify-content-between align-items-start">
                    <span class="badge bg-label-primary">
                        {{ app.user.subscriptionPlan.name|trans }}
                    </span>
                <div class="d-flex justify-content-center">
                    <sup class="h5 pricing-currency mt-3 mt-sm-4 mb-0 me-1 text-primary">
                        {{ app.user.subscriptionPlan.currencySign }}
                    </sup>
                    <h1 class="display-3 fw-normal mb-0 text-primary">
                        {{ app.user.subscriptionPlan.amount }}
                    </h1>
                    <sub class="fs-6 pricing-duration mt-auto mb-4">
                        /
                        {% set intervalMonths = app.user.subscriptionPlan.paymentInterval / 30 %}
                        {% if intervalMonths == 1 %}
                            {{ 'ay'|trans }}
                        {% else %}
                            {{ app.user.subscriptionPlan.paymentInterval }} {{ 'gün'|trans }}
                        {% endif %}
                    </sub>
                </div>
            </div>
            <ul class="ps-3 g-2 mb-3">
                {% for planFeature in app.user.subscriptionPlan.planFeatures %}
                    <li {% if loop.last is not same as(true) %}class="mb-2"{% endif %}>{{ planFeature }}</li>
                {% endfor %}
            </ul>
            {% set planPercent = ((planDaysRemaining(app.user) / app.user.subscriptionPlan.paymentInterval) * 100)|round %}
            <div class="d-flex justify-content-between align-items-center mb-1">
                <h6 class="mb-0">
                    {{ 'Abonelik Süresi'|trans }}
                </h6>
                <h6 class="mb-0">
                    {{ (planPercent > 100) ? 100 : planPercent }}%
                </h6>
            </div>
            <div class="progress mb-1" style="height: 8px">
                <div class="progress-bar" role="progressbar" style="width: {{ planPercent }}%"
                     aria-valuenow="{{ planDaysRemaining(app.user) }}"
                     aria-valuemin="0"
                     aria-valuemax="{{ app.user.subscriptionPlan.paymentInterval }}">
                </div>
            </div>
            <span>
                    {{ planDaysRemaining(app.user) }} {{  'gün sonra bitiyor'|trans }}
                </span>
            <div class="d-grid w-100 mt-3 pt-2">
                <a href="{{ path('app_admin_exclude_subscription_plan_index') }}" class="btn btn-primary text-white">
                    {{ 'Planımı Yükselt'|trans }}
                </a>
            </div>
        {% else %}
            <div class="alert alert-secondary" role="alert">
                {{ 'Herhangi bir abonelik planına sahip değilsiniz.'|trans }}
            </div>
        {% endif %}
        <!-- Subscription Plan Exist -->
    </div>
</div>