{% extends 'layout/admin.html.twig' %}

{% block pageTitle %}{{ 'Şifre Değiştir'|trans }}{% endblock %}
{% block contentTitle %}{{ 'Şifre Değiştir'|trans }}{% endblock %}

{% block body %}


    <!-- Header -->
    {{ include('admin/profile/_header.html.twig') }}
    <!--/ Header -->

    <!-- Content -->
    <div class="col-12">
        {{ form_start(form) }}
        <div class="card mb-4">
            <h5 class="card-header">{{ 'Şifre Değiştir'|trans }}</h5>
            <hr class="m-0"/>
            <div class="card-body">
                {{ form_widget(form) }}
            </div>
            {{ component('_card_action_footer_component', { label: 'Kaydet'|trans }) }}
        </div>
        {{ form_end(form) }}
    </div>
    <!--/ Content -->

{% endblock %}