{% extends 'layout/admin.html.twig' %}

{% block pageTitle %}{{ 'Kullan覺c覺 Profili'|trans }}{% endblock %}
{% block contentTitle %}{{ 'Kullan覺c覺 Profili'|trans }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-8">
            <!-- Profile -->
            {{ include('admin/profile/_header.html.twig') }}
            <!--/ Profile -->
        </div>
        <div class="col-md-4">
            <!-- Subscription -->
            {{ include('admin/profile/_subscription_plan.html.twig') }}
            <!--/ Subscription -->
        </div>
    </div>

    <!-- Activity -->
    {{ include('admin/profile/_activity_timeline.html.twig') }}
    <!--/ Activity -->

{% endblock %}