{% extends 'layout/admin.html.twig' %}

{% block pageTitle %}{{ 'Takımdan Çıkar'|trans }}{% endblock %}
{% block contentTitle %}{{ 'Takımdan Çıkar'|trans }}{% endblock %}

{% block body %}

    <!-- Header -->
    {{ include('admin/profile/_header.html.twig') }}
    <!--/ Header -->

    <!-- Content -->
    <div class="col-12">
        {{ form_start(form) }}
        <div class="card mb-4">
            <h5 class="card-header">{{ 'Takımdan Çıkar'|trans }}</h5>
            <hr class="m-0"/>
            <div class="card-body">
                {% set warnText = 'Bu kullanıcıyı takımdan çıkarırsanız hiçbir takım ögesine erişimi olmayacaktır. Buna rağmen yine de kullanıcıyı takımdan çıkarmak istediğinizden emin misiniz?'|trans %}
                {{ component('_alert_component', { type: 'danger', text: warnText }) }}
                {{ form_widget(form) }}
            </div>
            {{ component('_card_action_footer_component', { label: 'Eminim, Takımdan Çıkar!'|trans, type: 'danger' }) }}
        </div>
        {{ form_end(form) }}
    </div>
    <!--/ Content -->

{% endblock %}