{% extends 'layout/admin.html.twig' %}

{% block pageTitle %}{{ 'Google Chrome Kaydı'|trans }}{% endblock %}
{% block contentTitle %}{{ 'Google Chrome Kaydı'|trans }}{% endblock %}

{% block pageActions %}
    <a href="{{ path('app_admin_puppeteer_replay_delete', { puppeteerReplay: puppeteer_replay.id }) }}" class="btn btn-danger" role="button">{{ 'Sil'|trans }}</a>
{% endblock %}

{% block body %}

    <div class="app-chat card overflow-hidden">
        <div class="row g-0">

            <!-- Sidebar Left -->
            <div class="col app-chat-sidebar-left app-sidebar overflow-hidden" id="app-chat-sidebar-left">
                <div class="chat-sidebar-left-user sidebar-header d-flex flex-column justify-content-center align-items-center flex-wrap px-4 pt-5">
                    <div class="avatar avatar-xl avatar-online">
                        <img src="../../assets/img/avatars/1.png" alt="Avatar" class="rounded-circle">
                    </div>
                    <h5 class="mt-2 mb-0">John Doe</h5>
                    <small>Admin</small>
                    <i class="bx bx-x bx-sm cursor-pointer close-sidebar" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-sidebar-left"></i>
                </div>
                <div class="sidebar-body px-4 pb-4">
                    <div class="my-4">
                        <p class="text-muted text-uppercase">About</p>
                        <textarea id="chat-sidebar-left-user-about" class="form-control chat-sidebar-left-user-about mt-3" rows="4" maxlength="120">Dessert chocolate cake lemon drops jujubes. Biscuit cupcake ice cream bear claw brownie brownie marshmallow.</textarea>
                    </div>
                    <div class="my-4">
                        <p class="text-muted text-uppercase">Status</p>
                        <div class="d-grid gap-1">
                            <div class="form-check form-check-success">
                                <input name="chat-user-status" class="form-check-input" type="radio" value="active" id="user-active" checked>
                                <label class="form-check-label" for="user-active">Active</label>
                            </div>
                            <div class="form-check form-check-danger">
                                <input name="chat-user-status" class="form-check-input" type="radio" value="busy" id="user-busy">
                                <label class="form-check-label" for="user-busy">Busy</label>
                            </div>
                            <div class="form-check form-check-warning">
                                <input name="chat-user-status" class="form-check-input" type="radio" value="away" id="user-away">
                                <label class="form-check-label" for="user-away">Away</label>
                            </div>
                            <div class="form-check form-check-secondary">
                                <input name="chat-user-status" class="form-check-input" type="radio" value="offline" id="user-offline">
                                <label class="form-check-label" for="user-offline">Offline</label>
                            </div>
                        </div>
                    </div>
                    <div class="my-4">
                        <p class="text-muted text-uppercase">Settings</p>
                        <ul class="list-unstyled d-grid gap-2 me-3">
                            <li class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class='bx bx-message-square-detail me-1'></i>
                                    <span class="align-middle">Two-step Verification</span>
                                </div>
                                <label class="switch switch-primary me-4 switch-sm">
                                    <input type="checkbox" class="switch-input" checked="" />
                                    <span class="switch-toggle-slider">
                  <span class="switch-on"></span>
                  <span class="switch-off"></span>
                </span>
                                </label>
                            </li>
                            <li class="d-flex justify-content-between align-items-center">
                                <div>
                                    <i class='bx bx-bell me-1'></i>
                                    <span class="align-middle">Notification</span>
                                </div>
                                <label class="switch switch-primary me-4 switch-sm">
                                    <input type="checkbox" class="switch-input" />
                                    <span class="switch-toggle-slider">
                  <span class="switch-on"></span>
                  <span class="switch-off"></span>
                </span>
                                </label>
                            </li>
                            <li>
                                <i class="bx bx-user me-1"></i>
                                <span class="align-middle">Invite Friends</span>
                            </li>
                            <li>
                                <i class="bx bx-trash me-1"></i>
                                <span class="align-middle">Delete Account</span>
                            </li>
                        </ul>
                    </div>
                    <div class="d-flex mt-4">
                        <button class="btn btn-primary" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-sidebar-left">Logout</button>
                    </div>
                </div>
            </div>
            <!-- /Sidebar Left-->

            <!-- Chat & Contacts -->
            <div class="col app-chat-contacts app-sidebar flex-grow-0 overflow-hidden border-end" id="app-chat-contacts">
                <div class="sidebar-header py-3 px-4 border-bottom">
                    <div class="d-flex align-items-center justify-content-center">

                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary">Veri Aktarıcısı Oluştur</button>
                        </div>

                        <!-- DEPRECED
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-secondary" type="button" id="button-addon2">
                                <i class="bx bx-filter"></i>
                            </button>
                        </div>
                        -->

                    </div>
                    <i class="bx bx-x cursor-pointer position-absolute top-0 end-0 mt-2 me-1 fs-4 d-lg-none d-block" data-overlay data-bs-toggle="sidebar" data-target="#app-chat-contacts"></i>
                </div>
                <div class="sidebar-body">
                    <!-- Chats -->
                    <ul class="list-unstyled chat-contact-list" id="chat-list">
                        <!-- DEPRECED
                        <li class="chat-contact-list-item chat-contact-list-item-title">
                            <h5 class="text-primary mb-0">{{ 'Çalıştırma Fazları'|trans }}</h5>
                        </li>
                        -->
                        <li class="chat-contact-list-item chat-list-item-0 d-none">
                            <h6 class="text-muted mb-0">{{ 'Hiçbir Kayıt Yok'|trans }}</h6>
                        </li>
                        {% for pr in puppeteer_replay.puppeteerReplayHookRecords %}
                        <li class="chat-contact-list-item {% if hook is not null and hook.id is same as(pr.id) %}active{% endif %}">
                            <a class="d-flex align-items-center" href="{{ path('app_admin_puppeteer_replay_show', { puppeteerReplay: puppeteer_replay.id ,hook: pr.id }) }}">
                                <div class="flex-shrink-0 avatar">
                                    <img src="data:image/png;base64, {{ pr.screenshot }}" alt="{{ 'Ekran Görüntüsü'|trans }}" class="rounded-circle">
                                </div>
                                <div class="chat-contact-info flex-grow-1 ms-3">
                                    <h6 class="chat-contact-name text-truncate m-0">
                                        {% if pr.phase is same as("beforeAllSteps") %}
                                            {{ 'Başlangıç'|trans }}
                                        {% endif %}
                                        {% if pr.phase is same as("beforeEachStep") %}
                                            {{ 'Adım Öncesi'|trans }}
                                        {% endif %}
                                        {% if pr.phase is same as("afterEachStep") %}
                                            {{ 'Adım Sonrası'|trans }}
                                        {% endif %}
                                        {% if pr.phase is same as("afterAllSteps") %}
                                            {{ 'Bitiş'|trans }}
                                        {% endif %}
                                    </h6>
                                    <p class="chat-contact-status text-truncate mb-0 text-muted">
                                        {{ pr.initialPageUrl ?? '--' }}
                                    </p>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- /Chat contacts -->

            <!-- Chat History -->
            <div class="col app-chat-history bg-body">
                <div class="chat-history-wrapper">
                    <div class="chat-history-header border-bottom">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex overflow-hidden align-items-center">
                                <i class="bx bx-menu bx-sm cursor-pointer d-lg-none d-block me-2" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-contacts"></i>
                                <div class="flex-shrink-0">
                                    <i class="bx bxs-file-json bx-sm"></i>
                                </div>
                                <div class="chat-contact-info flex-grow-1 ms-3">
                                    <h6 class="m-0">{{ puppeteer_replay.fileName }}</h6>
                                    <small class="user-status text-muted">
                                        {% if puppeteer_replay.status is same as("UPLOAD") %}
                                            {{ 'YÜKLENDİ'|trans }}
                                        {% endif %}
                                        {% if puppeteer_replay.status is same as("PROCESSING") %}
                                            {{ 'İŞLENİYOR'|trans }}
                                        {% endif %}
                                        {% if puppeteer_replay.status is same as("COMPLETED") %}
                                            {{ 'TAMAMLANDI'|trans }}
                                        {% endif %}
                                        {% if puppeteer_replay.status is same as("ERROR") %}
                                            {{ 'HATA'|trans }} : <span class="text-danger">{{ puppeteer_replay.lastErrorMessage }}</span>
                                        {% endif %}
                                    </small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <a href="{{ path('app_admin_puppeteer_replay_downloadsteps', { puppeteerReplay: puppeteer_replay.id }) }}" class="text-secondary">
                                    <i class="bx bx-download cursor-pointer d-sm-block d-none me-3 fs-4" data-bs-toggle="tooltip" title="{{ 'İndir'|trans }}"></i>
                                </a>
                                <a href="{{ path('app_admin_puppeteer_replay_rereplay', { puppeteerReplay: puppeteer_replay.id }) }}" class="text-secondary">
                                    <i class="bx bx-refresh cursor-pointer d-sm-block d-none me-3 fs-4" data-bs-toggle="tooltip" title="{{ 'Yeniden Çalıştır'|trans }}"></i>
                                </a>
                                <a href="#" class="text-secondary">
                                    <i class="bx bx-edit-alt cursor-pointer d-sm-block d-none fs-4" data-bs-toggle="tooltip" title="{{ 'Adımları Düzenle'|trans }}"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="chat-history-body bg-body m-0 p-0">
                        {% if hook is not null %}
                            <iframe src="{{ path('app_admin_puppeteer_replay_iframe', { hook: hook.id }) }}" style="height: 100%; width: 100%; pointer-events: none;"></iframe>
                            {% else %}
                            <div class="d-flex justify-content-center my-5">
                                <span>
                                    {{ 'İçeriği görüntülemek için lütfen bir aşama seçin.'|trans }}
                                </span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /Chat History -->

            <!-- Sidebar Right -->
            <div class="col app-chat-sidebar-right app-sidebar overflow-hidden" id="app-chat-sidebar-right">
                <div class="sidebar-header d-flex flex-column justify-content-center align-items-center flex-wrap px-4 pt-5">
                    <h6 class="mt-2 mb-0">{{ puppeteer_replay.fileName }}</h6>
                    <span>{{ puppeteer_replay.status }}</span>
                    <i class="bx bx-x bx-sm cursor-pointer close-sidebar d-block" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-sidebar-right"></i>
                </div>
                <div class="sidebar-body px-4 pb-4">
                    <div class="my-4">
                        <p class="text-muted text-uppercase">About</p>
                        <p class="mb-0 mt-3">A Next. js developer is a software developer who uses the Next. js framework alongside ReactJS to build web applications.</p>
                    </div>
                    <div class="my-4">
                        <p class="text-muted text-uppercase">Personal Information</p>
                        <ul class="list-unstyled d-grid gap-2 mt-3">
                            <li class="d-flex align-items-center">
                                <i class='bx bx-envelope'></i>
                                <span class="align-middle ms-2">josephGreen@email.com</span>
                            </li>
                            <li class="d-flex align-items-center">
                                <i class='bx bx-phone-call'></i>
                                <span class="align-middle ms-2">+1(123) 456 - 7890</span>
                            </li>
                            <li class="d-flex align-items-center">
                                <i class='bx bx-time-five'></i>
                                <span class="align-middle ms-2">Mon - Fri 10AM - 8PM</span>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-4">
                        <p class="text-muted text-uppercase">Options</p>
                        <ul class="list-unstyled d-grid gap-2 mt-3">
                            <li class="cursor-pointer d-flex align-items-center">
                                <i class='bx bx-tag'></i>
                                <span class="align-middle ms-2">Add Tag</span>
                            </li>
                            <li class="cursor-pointer d-flex align-items-center">
                                <i class='bx bx-star'></i>
                                <span class="align-middle ms-2">Important Contact</span>
                            </li>
                            <li class="cursor-pointer d-flex align-items-center">
                                <i class='bx bx-image'></i>
                                <span class="align-middle ms-2">Shared Media</span>
                            </li>
                            <li class="cursor-pointer d-flex align-items-center">
                                <i class='bx bx-trash'></i>
                                <span class="align-middle ms-2">Delete Contact</span>
                            </li>
                            <li class="cursor-pointer d-flex align-items-center">
                                <i class='bx bx-block'></i>
                                <span class="align-middle ms-2">Block Contact</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Sidebar Right -->

            <div class="app-overlay"></div>
        </div>
    </div>

{% endblock %}
